@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.callSection {
  @include flex();
  padding-right: 2vmax;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    width: 1px;
    height: 3.3vmax;
    background-color: $border-color;
    transform: translateY(-50%);
  }
}

.callInfo {
  margin-left: 1.25vmax;

  &__status {
    font-weight: 300;
    font-size: 0.83vmax;
    color: $blue-3;
  }

  &__time {
    font-weight: 300;
    font-size: 0.73vmax;
    color: $primaryColor;

    span {
      color: $successColor;
      font-weight: 400;
    }
  }
}
