@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.subtitle {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5vmax;
  font-size: 1vmax;
}

.loader {
  @include flex();
}

.errorMessage {
  text-align: center;
  color: $dangerColor;
  font-size: 0.83vmax;
}

.emptyMessage {
  text-align: center;
  font-size: 0.83vmax;
}

.itemWrapper {
  position: relative;

  .item {
    margin-bottom: 0.5vmax;
    position: relative;
    z-index: 1;
    cursor: pointer !important;
  }

  &:nth-child(2n):after {
    position: absolute;
    z-index: 0;
    content: "";
    left: -0.5vmax;
    right: -0.5vmax;
    top: -0.2vmax;
    bottom: -0.3vmax;
    border-radius: 0.25vmax;
    background-color: $blue-7;
  }
}
