@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.root {
  width: 100%;
  .input {
    position: relative;
    width: 100%;
  }

  .optionList {
    position: absolute;
    z-index: 10;
    top: 1.95vmax;
    left: 0;
    right: 0;
    border: 1px solid red;
    padding: 0.5vmax;
    border: 1px solid #ced4da;
    border-radius: 0.4vmax;
    color: $primaryColor;
    background: $white;
    max-height: 10vmax;
    overflow-y: scroll;

    .option {
      cursor: pointer;
      position: relative;
      min-height: 1.5vmax;
      transition: 0.2s;
      border-radius: 0.2vmax;
      padding: 0.3vmax;
      margin-bottom: 0.25vmax;
      font-size: 0.83vmax;
      color: $dark-gray;
    }
  }

  .optionsOverlay {
    position: fixed;
    z-index: 9;
    background: transparent;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .loader {
    @include flex();
    padding: 1vmax 0;
  }

  .errorMessage {
    text-align: center !important;
    color: $dangerColor;
    padding: 0.5vmax 0;
    font-size: 0.83vmax !important;
  }

  .epmtyOptionsMessage {
    text-align: center;
    padding: 0.5vmax 0;
    font-size: 0.83vmax;
  }

  .errorMessage {
    color: $dangerColor;
    text-align: right;
    margin-top: 0.25vmax;
    font-size: 0.83vmax;
    padding: 0;
  }
}

.optionList::-webkit-scrollbar-thumb {
  background-color: $blue-5;
  border-radius: 0.25vmax;
}

.optionList::-webkit-scrollbar {
  width: 0.25vmax;
  background-color: $white;
}

@media (hover: hover) {
  .option:hover {
    color: $black;
    background: rgba(238, 238, 238, 0.5);
  }
}
