@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.root {
  position: fixed;
  bottom: 1vmax;
  left: 0.5vw;
  width: 14vw;
  padding: 1vmax 1vmax;
  border: 1px solid $border-color;
  background-color: $white;
  border-radius: 0.5vmax;
  box-shadow: 0px 10px 30px 4px rgb(231 231 231 / 54%);
  z-index: 2;

  .bgImgWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border: 1px solid red;
    z-index: 0;
    opacity: 0.04;

    .backgroundImg {
      width: 20vmax;
      transform: rotate(250deg);
    }
  }

  .content {
    position: relative;
    z-index: 1;
  }

  .head {
    @include flex(center, space-between);
    margin-bottom: 1vmax;
    border-bottom: 1px solid $border-color;
    padding-bottom: 1vmax;

    .title {
      font-size: 0.85vmax;
      font-weight: 500;
      color: $black;
    }

    .rollup {
      width: 1vmax;
      height: 1vmax;
      border: 0.15vmax solid $primaryColor;
      border-radius: 0.25vmax;
      cursor: pointer;
      transition: 0.3s;
    }
  }

  .createBidWrapper {
    @include flex();
    margin: 1vmax 0;
  }
}

@media (hover: hover) {
  .rollup:hover {
    opacity: 0.7;
  }
}
