@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.userSettings {
  margin-left: 1.7vmax;
  @include flex();
  text-align: right;

  .userIcon {
    margin-right: 0.75vmax;

    svg {
      width: 2vmax;
      height: 2vmax;

      path {
        fill: $blue-4;
      }
    }
  }

  .rightSide {
    @include flex(flex-end, center, column);

    .userName {
      margin-bottom: 0;
      font-size: 0.83vmax;
      color: $absolute-black;
      font-weight: 400;
    }

    .exitBtn {
      margin-bottom: 0;
      font-size: 0.625vmax;
      cursor: pointer;
      color: $primaryColor;
      font-weight: 400;
      transition: 0.3s;
    }
  }
}

@media (hover: hover) {
  .exitBtn:hover {
    opacity: 0.7;
  }
}
