@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.bidList {
  padding: 2vmax;
}

.pagination {
  margin: 2.5vmax 0;
  @include flex(center, flex-end);
}

.errorMessage,
.emptyMessage {
  margin-top: 1vmax;
  text-align: center;
  color: $dangerColor;
  font-size: 1vmax;
}

.emptyMessage {
  color: $dark-gray;
}

.loader {
  margin-top: 2.5vmax;
  @include flex();
}
