@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.root {
  @include flex(center, center, column);
  min-height: 100vh;

  .internalServerError {
    border: 1px solid #eee;
    @include flex(center, center, column);
    padding: 50px;
    border-radius: 0.25rem;
    margin: 100px 0;

    .title {
      color: $dangerColor;
      font-size: 40px;
      margin-bottom: 50px;
    }
  }
}
