@import "./variables.scss";

@mixin app-wrapper {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

@mixin flex(
  $alignItems: center,
  $justifyContent: center,
  $direction: row,
  $wrap: no-wrap
) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin greenShadowImportant() {
  box-shadow: 0px 9px 20px rgba(44, 198, 124, 0.22),
    0px 4px 15px rgba(44, 198, 124, 0.44) !important;
}

@mixin greenShadowHoverImportant() {
  box-shadow: 0px 18px 30px rgba(44, 198, 124, 0.22),
    0px 8px 30px rgba(44, 198, 124, 0.44) !important;
}

@mixin greenShadow() {
  box-shadow: 0px 9px 20px rgba(44, 198, 124, 0.22),
    0px 4px 15px rgba(44, 198, 124, 0.44);
}

@mixin greenShadowHover() {
  box-shadow: 0px 18px 30px rgba(44, 198, 124, 0.22),
    0px 8px 30px rgba(44, 198, 124, 0.44);
}

@mixin redShadow() {
  box-shadow: 0px 9px 20px rgba(242, 79, 80, 0.22),
    0px 4px 15px rgba(242, 79, 80, 0.44) !important;
}

@mixin redShadowHover() {
  box-shadow: 0px 18px 30px rgba(242, 79, 80, 0.22),
    0px 8px 30px rgba(242, 79, 80, 0.44) !important;
}
