$primaryColor: #4d4c5a;
$defaultColor: #084298;
$successColor: #2cc67c;
$dangerColor: #f24f50;
$black: #171717;
$absolute-black: #000000;
$white: #fff;
$background-gray: #fbfbfb;
$border-color: #e7e7e7;
$dark-gray: #292d32;
$gray: #a9a9a9;
$light-gray: #4d4c5a;
$gray-2: #f1f1f1;
$blue-1: #2f2cc6;
$blue-2: #5856d1;
$blue-3: #5956d1;
$blue-4: #6d6bd7;
$blue-5: #9b9ae3;
$blue-6: #e3e3ef;
$blue-7: #f2f2ff;
