@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.newBid {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 50px;
  background: $white;

  .saveBtnWrapper {
    margin: 30px 0;
    @include flex();
  }

  .main {
    @include flex(flex-start, space-between);
    margin-top: 40px;

    .leftSide,
    .midSide,
    .rightSide {
      width: 28%;
      border: 1px solid #eee;
      border-radius: 10px;
      padding: 20px;
    }

    .midSide {
      width: 40%;
    }

    .subtitle {
      text-align: center;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .loader {
      @include flex();
    }

    .errorMessage {
      text-align: center;
      color: $dangerColor;
    }

    .emptyMessage {
      text-align: center;
    }

    .additionalFieldsDivider {
      margin-top: 40px;
    }
  }
}
