@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.layout {
  position: relative;
  @include flex(flex-start);

  .nav {
    width: 15vw;
    height: 100vh;
  }
}

.appWrapper {
  width: 85vmax;
  min-height: 100vh;

  .page {
    min-height: calc(100vh - 6vmax);
    position: relative;
  }
}
