@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  position: relative;
  height: 6vmax;
  @include flex(center, space-between);
  padding: 0 2vmax;
  border-bottom: 1px solid $border-color;
}

.headerFirst,
.headerSecond {
  @include flex();
}

.headerSecond .pinCode {
  font-size: 0.83vmax;
  color: $black;
  font-weight: 300;
  padding-right: 2vmax;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    width: 1px;
    height: 3.3vmax;
    background-color: $border-color;
    transform: translateY(-50%);
  }
}
