@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.formControl {
  margin-bottom: 0.75vmax;

  &.smallMargin {
    margin-bottom: 0.5vmax;
  }

  &.dateFormControl {
    input::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  .formControlInner {
    @include flex(center, flex-start);
    position: relative;

    .disableLayout {
      position: absolute;
      left: 6.73vmax;
      right: -1px;
      top: -1px;
      bottom: -1px;
      background: #e9ecef;
      border-radius: 0.4vmax;
    }
  }

  .validationError {
    text-align: left;
    padding-left: 6.75vmax;
    color: $dangerColor;
    margin-top: 0.25vmax;
    font-size: 0.78vmax;
  }

  .label {
    margin-bottom: 0;
    margin-right: 0.75vmax;
    min-width: 6vmax;
    line-height: 120%;
    font-size: 0.9vmax;
    font-weight: 300;
    color: $light-gray;
  }

  .cancelMiddleName {
    margin-top: 0.5vmax;
    @include flex(center, flex-end);
  }

  &.variantSecondary .formControlInner {
    display: block;

    .label {
      margin-bottom: 0.25vmax;
    }
  }

  &.variantSecondary .validationError {
    padding-left: 0;
  }
}
