@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.status {
  margin-left: 1.5vmax;
  @include flex();

  .title {
    color: $black;
    width: 4vmax;
    font-weight: 500;
    font-size: 0.8vmax;
    color: $primaryColor;
  }
}
