@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.auth {
  padding: 40px 20px;

  margin: 200px auto;
  width: 400px;

  border-radius: 10px;
  border: 1px solid #eee;

  .logo {
    & > div {
      justify-content: center;
    }
  }

  h3 {
    margin-bottom: 30px;
    text-align: center;
  }

  .dangerText {
    color: $dangerColor;
  }

  .check {
    margin: 20px 0;
  }

  .marginTop {
    margin-top: 1vh;
  }

  .error {
    color: $dangerColor;
  }

  .button {
    width: 100%;
  }
}
