@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

@mixin icon() {
  width: 3vmax;
  height: 3vmax;
  cursor: pointer;
  margin: 0 0.3vmax;
  @include flex();
}

.phoneIcons {
  @include flex();

  .phoneIcon {
    @include icon();
    background-color: $dangerColor;
    @include redShadow();
    border-radius: 50%;

    &.isNotOnCall {
      background-color: $successColor;
      @include greenShadow();
    }

    img {
      width: 50%;
    }
  }

  .microphoneIcon,
  .holdIcon {
    @include icon();

    &.onNotOnCall {
      pointer-events: none;
      opacity: 0.2;
    }

    &.pressed {
      background-color: $yellow;
      border-radius: 50%;
      @include yellowShadow();

      svg {
        width: 60%;
      }

      path {
        fill: $white;
      }
    }

    svg {
      height: 3vmax;
    }
  }

  .holdIcon svg {
    width: 2.5vmax;
  }

  button {
    border-radius: 50%;
    padding: 0.6vmax;

    img {
      width: 100%;
    }
  }
}
