@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

@mixin icon() {
  width: 3vmax;
  height: 3vmax;
  cursor: pointer;
  margin: 0 0.3vmax;
  @include flex();
}

@mixin minifiedIcon() {
  width: 2.3vmax;
  height: 2.3vmax;
}

.phoneIcons {
  @include flex();

  .phoneIcon {
    @include icon();
    background-color: $dangerColor;
    @include redShadow();
    border-radius: 50%;

    &.isNotOnCall {
      background-color: $successColor;
      @include greenShadow();
    }

    &.ringingIcon {
      background-color: $successColor;
      @include greenShadow();
      position: relative;

      .ring {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $successColor;
        border-radius: 50%;
        z-index: 0;
        animation: ringing 1s ease-in infinite;
      }
    }

    img {
      position: relative;
      z-index: 1;
      width: 50%;
    }
  }

  .microphoneIcon,
  .holdIcon {
    @include icon();

    &.onNotOnCall {
      pointer-events: none;
      opacity: 0.2;
    }

    &.pressed {
      background-color: $yellow;
      border-radius: 50%;
      @include yellowShadow();

      svg {
        width: 60%;
      }

      path {
        fill: $white;
      }
    }

    svg {
      height: 3vmax;
    }
  }

  .holdIcon svg {
    width: 2.5vmax;
  }

  button {
    border-radius: 50%;
    padding: 0.6vmax;

    img {
      width: 100%;
    }
  }

  &.minifiedIcons {
    .phoneIcon,
    .microphoneIcon,
    .holdIcon {
      @include minifiedIcon();
    }

    .holdIcon svg {
      width: 2vmax;
    }
  }
}

@keyframes ringing {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}
